MONGO_URI=mongodb+srv://guptakartikeya2046_db_user:Akane123@cluster0.ivw6vlc.mongodb.net/?appName=Cluster0
TESSERACT_PATH=/path/to/tesseract
FRONTEND_URL=https://invoice-processor-pink.vercel.app
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant
