MONGO_URI=mongodb+srv://guptakartikeya2046_db_user:Akane123@cluster0.ivw6vlc.mongodb.net/?appName=Cluster0
TESSERACT_PATH=/path/to/tesseract
FRONTEND_URL=https://invoice-processor-pink.vercel.app
OLLAMA_BASE_URL=https://landed-glorious-boogieman.ngrok-free.dev
OLLAMA_MODEL=gemma3