MONGO_URI=mongodb+srv://guptakartikeya2046_db_user:<your-password>@cluster0.ivw6vlc.mongodb.net/invoice_processor?appName=Cluster0
MONGO_DB_NAME=invoice_processor
TESSERACT_PATH=/path/to/tesseract
FRONTEND_URL=https://invoice-processor-pink.vercel.app
